<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<!--<appender name="FLUENT" class="com.getusroi.fluent.log.appender.FluentAppender">
		<tag>act</tag>
		<label>normal</label>
		<remoteHost>192.168.1.189</remoteHost>
		<port>24224</port>
		<maxQueueSize>20000</maxQueueSize>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line
				%msg</pattern>
		</layout>
	</appender>-->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line
				%msg\n</pattern>
		</encoder>
	</appender>

	<root>
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
<!-- 		<appender-ref ref="FLUENT" /> -->
	</root>

</configuration>